<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamerguide.android.trackerforsteamachivements">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher8"
        android:label="@string/app_name1"
        android:roundIcon="@mipmap/ic_launcher6_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".Activity.PlannerActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Activity.AchievementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activity.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>